.line-header2 {
    color: $green;
    font-size: 3rem;
    margin: 0 auto 1rem !important;
    text-align: center !important;
    max-width: 700px !important;
    position: relative !important;

    &:before {
        content: '';
        display: block;
        width: 120px;
        height: 3px;
        background-color: $purple;
        position: absolute;
        top: 50%;
        left: 20%;
    }

    &::after {
        content: '';
        display: block;
        width: 120px;
        height: 3px;
        background-color: $purple;
        position: absolute;
        right: 20%;
        top: 50%;
    }
}



.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.media-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .image-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;

        img {
            width: 30%;
            border: 10px solid $white;
            transition: transform .5s;

            &:nth-child(odd):hover {
                transform: rotate(10deg);
                z-index: 999;
            }

            &:nth-child(even):hover {
                transform: rotate(-10deg);
                z-index: 999;
            }
        }
    }

    a {
        font-size: 1.2rem;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        color: $white;
        margin-bottom: 3rem;
        transition: all .5s;
        padding: 2px 5px;


        &:hover {
            background-color: $yellow;
            border-radius: 5px;
            transform: rotate(10deg);
            color: $black;
            font-weight: 500;

        }
    }
}


@media screen and (max-width: 767px) {

    .line-header2 {
        /*  &:before {
                top: 0 !important;
            }

            &:after {
                top: 100% !important;
            }*/
        border-bottom: 3px solid $purple;

        &:before,
        &:after {
            /*      width: 80px !important;
                height: 1px !important;*/
            all: unset;
        }
    }

    .image-container {
        flex-direction: column;

        img {
            width: 100% !important;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}

p {
    color: $white !important;
}