.navbar {
    background-color: $black;

    &-container {
        padding: 0 !important;
    }

    &-brand {
        font-family: $pattaya;
        font-size: 3rem;
        text-shadow: 5px 0px 2px #9453a6;
    }
}

.navbar-toggler-icon {
    color: $white !important;
}

#navbarNav {
    ul li a.active {
        color: $purple !important;
    }

    .trivia {
        border-radius: 5px;
        background-color: $yellow;

        a {
            color: $black !important;

        }

        &:hover {
            opacity: 0.8;
        }
    }
}